body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6f0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/hearts.png');
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #ff69b4;
}

.login-container input {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ff69b4;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.login-container input:focus {
    border-color: #ff1493;
    box-shadow: 0 0 5px rgba(255, 105, 180, 0.5);
}

.login-container button {
    padding: 10px;
    width: 30%;
    background-color: #ff69b4;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #ff1493;
}

.error {
    color: red;
    margin-bottom: 10px;
    display: none;
}

a {
    color: #ff69b4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
